.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
  width: 100%;
}

section {
  padding: 80px 0;
  width: 100%;
}

@media (max-width: 1024px) {
  section {
    padding: 70px 0;
  }
}

@media (max-width: 768px) {
  section {
    padding: 60px 0;
  }
}

@media (max-width: 480px) {
  section {
    padding: 50px 0;
  }
}
